<div class="row">
  <div class="col-md-12">
    <%= simple_form_for([@app_file.app, @app_file]) do |f| %>
      <%= f.input :platform, collection: ['iOS', 'Android'], as: :radio_buttons, required: true %>
      <%= f.input :version, required: true %>
      <%= f.input :archive, as: :file, required: true %>
      <%= f.button :submit, 'Upload New App Release' %>
    <% end %>
  </div>
</div>
