

<h1>Listing App Files</h1>

<table class="table">
  <thead>
    <tr>
      <th>Platform</th>
      <th>Version</th>
      <th>Download count</th>
      <th>App signing</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @app_files.each do |app_file| %>
      <tr>
        <td><%= app_file.platform %></td>
        <td><%= app_file.version %></td>
        <td><%= app_file.download_count %></td>
        <td><%= app_file.code_signing_status %> (<%= link_to 'View log', app_app_file_build_log_path(app_file.app, app_file) %>)</td>
        <td><%= link_to 'Edit', edit_app_app_file_path(app_file.app, app_file) %></td>
        <td><%= link_to 'Destroy', app_app_file_path(app_file.app, app_file), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>

