<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string><%= app_app_file_download_url(@app_file.app, @app_file, protocol: 'https', format: :ipa) %></string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string><%= @app_file.app.ios_application_identifier %></string>
                <key>bundle-version</key>
                <string><%= @app_file.version %></string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string><%= @app_file.app.name %></string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
