<div class="row">
  <div class="col-md-6">
    <h1>New App File</h1>
    <%= render 'form' %>
  </div>
  <div class="col-md-6">
    <h2>App packaging instructions</h2>
    <h3>If you are not using CocoaPods/frameworks</h3>
    (or if you've never heard of it before)
    <ol>
      <li>
        Open up Terminal.  <code>cd</code> to your Xcode project folder.  Type <code>ls</code> and verify that the folder contains <code><em>YourProjectName</em>/</code> (folder) and <code><em>YourProjectName</em>.xcodeproj</code>, among others. Make sure you see these files. Do not <code>cd</code> any deeper.
      </li>
      <li>
        Run the following command:
        <pre>
xcodebuild clean build CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO</pre>
        This allows you to get a <code>.app</code> file without a developer program. You can find the <code>.app</code> file by going to <code>build/Release-iphoneos/</code> folder. Type:
        <pre>
cd build/Release-iphoneos/</pre>
      </li>
      <li>Upload the resulting <code>.app</code> file.</li>
    </ol>
    <h3>For apps that require CocoaPods/frameworks</h3>
    <ol>
      <li>
        Open up the <code>xcworkspace</code> in Xcode, go to Product > Scheme > New Scheme..., and choose the Target accordingly, and let’s call the Name &ldquo;DukeAppStore&rdquo;.
      </li>
      <li>
        Choose DukeAppStore scheme and click Edit Scheme... And then in Build pane, uncheck everything but &ldquo;Run&rdquo;.
      </li>
      <li>
        Now switch to Run pane, change the Build Configuration to Release.
      </li>
      <li>
        And then run
        <pre>
xcodebuild -workspace <em>YourProject</em>.xcworkspace -scheme DukeAppStore clean build CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO</pre>
      </li>
    </ol>
  </div>
</div>

<%= link_to 'Back', app_path(@app_file.app) %>
