<p id="notice"><%= notice %></p>

<p>
  <strong>Platform:</strong>
  <%= @app_file.platform %>
</p>

<p>
  <strong>Version:</strong>
  <%= @app_file.version %>
</p>

<p>
  <strong>Download count:</strong>
  <%= @app_file.download_count %>
</p>

<p>
  <strong>File:</strong>
  <%= @app_file.file %>
</p>

<p>
  <strong>App:</strong>
  <%= @app_file.app %>
</p>

<%= link_to 'Edit', edit_app_file_path(@app_file) %> |
<%= link_to 'Back', app_files_path %>
