<%= simple_form_for(@app, html: { class: 'form-horizontal' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }) do |f| %>
  <%= f.input :name %>
  <%= f.input :description, as: :text %>
  <%= f.input :icon, as: :file, hint: "Your icon will be resized to exactly 512x512.  A 57x57 image will be displayed only during installation on iOS (then replaced by the AppIcon you specified in Xcode)" %>
  <%= f.input :bundle_identifier_suffix, hint: "Used in iOS app signing and manifest generation process.  Your bundle identifier will look like <span id='bundle_identifier_preview'>edu.duke.colab.99_<span id='bundle_identifier_suffix_preview'>YourCustomSuffix</span></span> (&lsquo;99&rsquo; will be replaced by a numerical ID).  This should never be changed once a release is made".html_safe %>

  <%= f.button :submit %>
<% end %>
