<h1>Editing App</h1>

<%= render 'form' %>

<%= link_to "Delete App", app_path(@app), method: :delete, class: "btn btn-danger", data: { confirm: 'Are you certain you want to delete this app?' } %>

<%= link_to 'Show', @app %> |
<%= link_to 'Back', apps_path %>
