<h1>Showing all apps</h1>

<div class="row">
  <div class="col-sm-12">
    <p class="lead">Welcome to the Duke App Store. &nbsp;All apps below are free to download for use within the Duke community. &nbsp;Questions? &nbsp;Let us know at <%= link_to 'colab-ops@duke.edu', 'mailto:colab-ops@duke.edu' %></p>
  </div>
</div>
<div class="row app-list">
  <% @apps.each do |app| %>
    <div class="col-sm-6 app-details">
      <div class="row">
        <div class="col-xs-3 app-icon">
          <%= link_to app do %>
            <%= image_tag app.icon.url, :alt => "App logo" %>
          <% end %>
        </div>
        <div class="col-xs-9">
          <div class="caption">
            <h4>
              <%= link_to app.name, app %>
              <small>
                <% if app.author_display_name %>
                  by <%= app.author_display_name %>
                <% end %>
              </small>
            </h4>
            <p>
              <%= link_to 'Details', app, class: 'btn btn-primary btn-sm' %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<% if policy(App).create? %>
  <%= link_to 'New App', new_app_path %>
<% else %>
  <p>Developer? &nbsp;Sign in with your NetID to create new apps.</p>
<% end %>
