<div id="large_infobox" class="media">
  <div class="media-left">
    <%= image_tag @app.icon.url, :size => "100x100", :alt => "App logo" %>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <%= @app.name %>
      <small>
        <% if @app.author_display_name %>
          by <%= @app.author_display_name %>
        <% end %>
      </small>
    </h4>
    <p><%= simple_format @app.description %></p>
    <% if @latest_ios %>
      <p data-no-turbolink>
        <%= link_to @latest_ios.itms_services_url, class: 'btn btn-primary btn-sm btn-download' do %>
          <span class='download-icon'><%= image_tag 'download-icon.png', :size => '17x17' %></span>
          <span>Install on iPhone</span>
        <% end %>
        <p><strong>If this is your first download to iOS 9 or later:</strong> After you download one of our apps on iOS, go to Settings app, tap General > Profile. &nbsp;Under Enterprise App, tap Duke University, and then tap Trust Duke University.</p>
      </p>
    <% end %>
  </div>
</div>

<% if @latest_android %>
<p>
  <%= link_to "Download for Android", app_app_file_download_path(@app, @latest_android) %>
</p>
<% end %>

<%#= debug @latest_ios %>
<%#= debug @latest_android %>

<% if policy(@app).update?  # allow new app file upload if s/he is able to update current app %>
  <%= link_to 'Upload new version of my app', new_app_app_file_path(@app) %>
  |
  <%= link_to 'View all versions of my app', app_app_files_path(@app) %> | 
<% end %>

<% if policy(@app).update? %>
  <%= link_to 'Edit', edit_app_path(@app) %> |
<% end %>

<%= link_to 'Back', apps_path %>
